<button (click)="details()">Details</button>
<button (click)="calendar()">Calendar</button>
<div *ngIf='show === "details"' class="register-show">
    <h1>Accommodation</h1>
    <table>
        <tr>
            <td><span class="keep_hovered">Name: </span></td>
            <td class="input"><input type="text" name="name" [(ngModel)]="AccommodationDTO.name" required="required" disabled></td>
        </tr>
        <tr>
            <td><span class="keep_hovered">Location: </span></td>
            <td class="input"><input type="text" name="adress" [(ngModel)]="AccommodationDTO.location" required="required" disabled></td>
        </tr>
        <tr>
            <td ><span class="keep_hovered">Price Calculation: </span></td>
            <td class="input">
                <select [(ngModel)]="AccommodationDTO.priceCalculation" disabled>
                    <option value="PER_GUEST_PER_NIGHT">Per Guest</option>
                    <option value="PER_ACCOMMODATION_PER_NIGHT">Per Accommodation</option>
                </select>
            </td>
        </tr>
        <br>
        <tr>
            <td><span class="keep_hovered">Amenities: </span></td>
        </tr>
        <tr>
            <ul>
                <li *ngFor="let amenity of AccommodationDTO.amenities">{{amenity.amenity}}</li>
            </ul>
        </tr>
        <br>
        <tr>
            <td><span class="keep_hovered">Images: </span></td>
        </tr>
        <tr>
            <ul>
                <li *ngFor="let picture of AccommodationDTO.accommodationImages"><img src="{{picture.img}}" height="80" width="100"/></li>
            </ul>
        </tr>
    </table>
</div>
<div *ngIf='show === "calendar"' class="register-show">
    <h1>Accommodation Calendar</h1>
    <table>
        <tr>
            <td><span class="keep_hovered">From: </span></td>
            <td class="input"><input type="date" name="name" [(ngModel)]="dateFrom"></td>
            <td><span class="keep_hovered">To: </span></td>
            <td class="input"><input type="date" name="name" [(ngModel)]="dateTo"></td>
            <td class="input"><button (click)="addFreeDates()">Reserve</button></td>
        </tr>
    </table>
    <table>
        <tr class="timeSlotTable">
            <td><span class="keep_hovered">From </span></td>
            <td><span class="keep_hovered">To </span></td>
            <td><span class="keep_hovered">Status </span></td>
        </tr>
        <tr *ngFor="let slot of AccommodationDTO.timeSlot">
            <td class="timeSlotFree"  *ngIf='slot.status === "FREE"'><span class="keep_hovered">{{slot.startDate | date:'medium'}}</span></td>
            <td class="timeSlotFree"  *ngIf='slot.status === "FREE"'><span class="keep_hovered">{{slot.endDate | date:'medium'}} </span></td>
            <td class="timeSlotFree"  *ngIf='slot.status === "FREE"'><span class="keep_hovered">{{slot.status}} </span></td>
            <td class="timeSlotTaken"  *ngIf='slot.status === "RESERVED"'><span class="keep_hovered">{{slot.startDate | date:'medium'}}</span></td>
            <td class="timeSlotTaken"  *ngIf='slot.status === "RESERVED"'><span class="keep_hovered">{{slot.endDate | date:'medium'}} </span></td>
            <td class="timeSlotTaken"  *ngIf='slot.status === "RESERVED"'><span class="keep_hovered">{{slot.status}} </span></td>
        </tr>
    </table>
</div>
