<div class="register-show">
    <h1>Login</h1>
    <table>
        <tr>
            <td><span class="keep_hovered">Username: </span></td>
            <td class="input"><input type="text" name="username" [(ngModel)]="UserLoginDTO.username" required="required"></td>
        </tr>
        <tr>
            <td><span class="keep_hovered">Password: </span></td>
            <td class="input"><input type="password" name="password" [(ngModel)]="UserLoginDTO.password" required="required"></td>
        </tr>
    </table>

    <button (click)="log()">Login</button>
</div>